.tabelaPoruka{
    margin: 80px;
   
    margin-left: 350px;
    margin-right: 350px;
}

 
.crudRadnik{
    padding: 30px;
    margin: 80px;
   
    margin-left: 350px;
    margin-right: 350px;
    background-color: #2d2e31;
}